@{
    ViewBag.Title = "Contato";
}

<h2>@ViewBag.Title.</h2>

<h3>@ViewBag.Message</h3>

@using DesafioMobWeb.Models
@model Usuario





@{
    var nomeCompleto = "";

    if (IsPost)
    {

        // Recupera o valor informado
        // no formulário
        var nome = Request["nomeUsuario"];
        var sobrenome = Request["apelidoUsuario"];

        nomeCompleto = nome + " " + sobrenome;

    }
}

<div>

    <p>Digite o seu nome e apelido:</p>

    <form action="" method="post">

        <p>
            Nome: @Html.TextBoxFor(x => x.nomeUsuario)
            
        </p>

        <p>
            Apelido: @Html.TextBoxFor(x => x.apelidoUsuario)

        </p>


        <p><input type="submit" value="Enviar" /></p>

    </form>

    <p>Nome Completo: <b> @nomeCompleto </b></p>

</div>




<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>